VITE_API_URL=
JWT_SECRET=e060fa45-986b-495d-ab45-567ebvvjhbkjbbjh10fb3179
ADMIN_EMAIL=shreeganpatiagency.printer@admin
ADMIN_PASSWORD_HASH=your_bcrypt_hash_here
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your_anon_key_here
